<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button full>Log In</button>
    <button ion-button color="dark" full (click)="gotoAddItem()">Register</button>
  </div>
  <div padding>

  </div>
</ion-content>
